* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:root {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  color: #213547;
}

a {
  font-weight: 500;
  color: #6c63ff;
  transition: all 0.3s;
  text-decoration: none;

  &:hover {
    color: #8c84ff;
  }
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid rgba(108, 99, 255, 0.3);
  padding: 0.65em 1.4em;
  font-size: 1em;
  font-weight: 500;
  background: linear-gradient(
    135deg,
    rgba(108, 99, 255, 0.1),
    rgba(139, 132, 255, 0.005)
  );
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    background: linear-gradient(
      135deg,
      rgba(108, 99, 255, 0.2),
      rgba(139, 132, 255, 0.1)
    );
  }
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 28px;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      transform: scale(1.02);
    }
    img {
      filter: drop-shadow(0 4px 8px rgba(108, 99, 255, 0.3));
    }
    h2 {
      font-size: 21px;
      font-weight: 600;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 4px;
    border-radius: 12px;
    button {
      color: white;
      font-weight: 600;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.444);
    }

    a:first-child button {
      border-radius: 8px 0 0 8px;
    }
    a:last-child button {
      border-radius: 0 8px 8px 0;
    }
    .active button {
      background: linear-gradient(135deg, #6c63ff 0%, #8b84ff 100%);
      border-color: transparent;
      box-shadow: 0 4px 15px rgba(108, 99, 255, 0.4);
    }
  }
}
/* Harita */
.leaflet-container {
  height: 100vh;
}

@media (max-width: 768px) {
  header {
    padding: 10px 16px;
    h2 {
      font-size: 23px;
    }
    h3 {
      display: none;
    }
  }
}
